*.log
*.filters
fishy_game.vcxproj
fishy_game.vcxproj.user
fishy_game.sln
*.ipch
*.opendb
*.db-shm
.vs/fishy_game/v16/.suo
*.db-wal
*.db
*.dll
*.recipe
game
.DS_Store
.vs/fishy-game/v16/.suo
*.tlog
x64/Debug/fishy-game.vcxproj.FileListAbsolute.txt
*.user
*.vcxproj
*.sln
*.pdb
*.idb
*.obj
